  <section class="grid-container">
    <div class="text-container">
      <h1>Faça Login <br> para ter <br> acesso ao <br> Portal</h1>
    </div>
    
    <main class="form-container">
      <form [formGroup]="loginForm">
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput #email type="email" placeholder="exemple@email.com" formControlName="login" name="email" required>
          <mat-error>
            <span>Este campo é obrigatório</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput #userPassword type="password" placeholder="Sua senha" formControlName="password"
          name="password" required>
          <mat-error>
            <span>Este campo é obrigatório</span>
          </mat-error>
        </mat-form-field>
        <re-captcha formControlName="reCaptcha" matTooltipPosition="below"></re-captcha>
        <button matTooltip="Login" matTooltipPosition="below" (click)="authService.SignIn(email.value, userPassword.value)" type="submit" mat-stroked-button color="secundary" [disabled]="loginForm.invalid">Login
          <mat-icon>login</mat-icon>
        </button>
        <button type="button" matTooltip="" id="login-google" (click)="authService.GoogleAuth()">
          <img src="/assets/google.svg" alt="" id="img-google"><span>Entrar com Google</span>
        </button>
      </form>
      <p class="cadastre"><a routerLink="/forgot-password">Esqueceu a senha?</a></p>
      <p class="cadastre">Ainda não tem uma conta? <a routerLink="/register">Cadastre-se</a></p>
    </main>
  </section>   

<!--   <div class='foto'>
    <img src='http://i.stack.imgur.com/yMfhN.jpg' alt='Chá de Bebê'/>
  </div> -->